<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#175768" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/root.css" />
    <link rel="stylesheet" href="/styles/critical.css" />

    <!-- Analytics -->

    <!-- Title -->
    <title>CS + 11ty</title>
  </head>

  <body>
    <header>{% include "navbar.html" %}</header>
    <main>{{ content | safe }}</main>
  </body>

  <script src="/assets/js/nav.js" defer></script>
</html>
